* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/*Utilities*/

.d-flex {
    display: flex
}

.color-black {
    background-color: black;
}

.center {
    align-items: center;
    justify-content: center;
}

/*Header*/

.container-header {
    height: 50px;
    color: #E2E3D8;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px 0;
}

.container-header .btn {
    border-radius: 5px;
    background-color: #4A4A4A;
    margin: 0 5px 0;
}

.container-header .left {
    width: 9rem;
    height: 2rem;
}

.container-header .right{
    width: 2rem;
    height: 2rem;
}

img {
    width: 100%;
}

/*Main*/

main {
    overflow: auto;
    color: white;
    height: calc(100vh - 150px);
}

main .container-main {
    flex-wrap: wrap;
    margin: 10px 25px;
    justify-content: center;
}

main .container-main .utente {
    width: 300px;
    height: 160px;
    background-image: url(/img/messi.jpeg);
    background-size: cover;
    margin: 5px;
    position: relative;
}

main .container-main .utente .nome-utente {
    width: 120px;
    background-color: rgba( 110, 118, 128, 50%);
    position: absolute;
    bottom: 0;
    left: 0;
}

/*Footer*/

footer {
    height: 100px;
    background-color: #222222;
    color: white
}





